@{
    ViewData["Title"] = "Página Inicial";
}


<div class="text-center">
<h1>Bem-vindo ao Bar Escolar!</h1>

<p>Este é o sistema de marcação de almoços e loja do bar escolar.</p>

<p>
        <a asp-controller="Login" asp-action="Login" class="btn btn-primary"> Login</a>
        <a asp-controller="Login" asp-action="Register" class="btn btn-secondary"> Registar</a>
    </p>
</div>