@model BarEscolar.Models.logindata
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="EmailOrUsername"></label>
        <input asp-for="EmailOrUsername" />
        <span asp-validation-for="EmailOrUsername" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit">Entrar</button>
    <a asp-action="Register" class="btn-secondary">Registrar</a>
</form>

