@model IEnumerable<BarEscolar.Models.Order>
@{
    ViewData["Title"] = "Aluno";
}
<h1>Bem-vindo, @ViewBag.User.FullName!</h1>
<h1>Menus Marcados</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Createdat</td>
                <td>@order.Total</td>
                <td>
                    <a asp-action="Details" asp-route-id="@order.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>