@{
    ViewData["Title"] = "Criar Semana";
}

<h1>Criar Semana</h1>

<form asp-action="CreateWeek" method="post">
    <div class="form-group">
        <label>Semana começando em:</label>
        <input type="date" name="weekstart" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Criar Semana</button>
</form>