@model IEnumerable<BarEscolar.Models.Product>

@{
    ViewData["Title"] = "Produtos";
}

<h2>Produtos</h2>

<a class="btn btn-success mb-3" asp-action="CreateProduct">Novo Produto</a>

<div>
    <select id="categoryFilter">
        <option value="">Filtrar Categoria</option>
        @foreach (Category category in ViewBag.Categories)
        {
            <option value="@category.Name">@category.Name</option>
        }
    </select>
</div>

<div>
    <select id="priceFilter">
        <option value="">Filtrar Preço</option>
        <option value="low">Menor para Maior</option>
        <option value="high">Maior para Menor</option>
    </select>
</div>

<div>
    <input id="allergenFilter" type="text" placeholder="Filtrar por Alergénios" />
</div>

<!--Tabela dos produtos AJAX!!!-->
<div id="productList">
    @await Html.PartialAsync("_ProductList", Model)
</div>

<script>
    document.getElementById("categoryFilter").addEventListener("change", loadFiltered);
    document.getElementById("priceFilter").addEventListener("change", loadFiltered);
    document.getElementById("allergenFilter").addEventListener("input", loadFiltered);

    function loadFiltered() {
        const category = document.getElementById("categoryFilter").value;
        const price = document.getElementById("priceFilter").value;
        const allergen = document.getElementById("allergenFilter").value;

    fetch(`/Admin/LoadProducts?id=@ViewBag.User.ID&category=${category}&price=${price}&allergen=${allergen}`)
        .then(response => response.text())
        .then(html => {
            document.getElementById("productList").innerHTML = html;
        });
    }
</script>